{
    "parserOptions": {
        "extends": "standard",
        "parser": "babel-eslint",
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        }
    },
    "parser": "babel-eslint"
}